/* .responseBlock{
    border: 0.5px solid rgb(230, 179, 230);
    border-radius: 5px;
    padding: 5px;
    background-color: white;
} */

/* .responseKey{
    
} */

.responseWrapper{
    display: flex;
    gap: 10px;
    flex-direction: column;
    /* background-color: rgb(230, 179, 230); */
    /* align-items: center; */
    padding: 50px;
    margin: 100px;
}
 
.responseId{
    position: absolute;
    top: 50px;
    left: 600px;
    font-size: 13px;
    color: grey;
    font-weight: bold;
    text-align: center;
}

.responseCreatedAt{
    position: absolute;
    top: 50px;
    right: 160px;
    font-size: 13px;
    color: grey;
    font-weight: bold;
    text-align: right;
}

.formName{
    width: 100%; 
    text-align: center; 
    border-bottom: 1px solid grey; 
    line-height: 0.1em;
    margin: 10px 0 20px;
    font-size: 30px;
    margin-bottom: 34px;
}

.formLine{
    background:#fff; 
    padding:0 10px;
}

.userId{
    position: absolute;
    top: 50px;
    left: 160px;
    font-size: 13px;
    color: grey;
    font-weight: bold;
    text-align: left;
}